<form action="/products" method="post">
  <p>name:<input type="text" name="name"></p>
  <p>price:<input type="text" name="price"></p>
  <p>description:<input type="text" name="description"></p>
  <p>supplier id:<input type="text" name="supplier_id"></p>
  <input type="submit" value="make a product">
</form>